nav#navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav#navbar ul li {
	margin: 5px 0;
}

nav#navbar ul li a {
	display: block;
	background-color: green;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 10px 0 8px 0;
	border-radius: 4px;
}

nav#navbar ul li a:hover {
	background-color: #ccc;
	color: #000;
}

.relexample {
	position: relative;
	left: 20px;
	bottom: 10px;
}

.firstchar {
	color: gray;
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
	top: 4px;
}

#fixedbox {
	width: 100px;
	height: 145px;
	position: fixed;
	bottom: 20px;
	right: 40px;
}

#gamelist {
  position: relative;
  left: 20px;
  bottom: 8px;
}

#text {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  text-decoration: underline;
}

.colorone {
  color: gold;
}

.colortwo {
  color: red;
}

#font {
  font-style: italic;
  font-weight: bold;
}

.fontone {
  font-weight: bold;
}
