nav#vert ul li a {
	display: block;
	background-color: green;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 10px 0 8px 0;
	border-radius: 4px;
}

nav#vert ul li a:hover {
	background-color: #800;
}
