nav#navbar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav#navbar ul li {
	margin: 5px 0;
}

nav#navbar ul li a {
	display: block;
	background-color: green;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	width: 100px;
	padding: 10px 0 8px 0;
	border-radius: 4px;
}

nav#navbar ul li a:hover {
	background-color: #ccc;
	color: #000;
}

#fixedbox {
	width: 100px;
	height: 145px;
	position: fixed;
	bottom: 20px;
	right: 40px;
}

/* index CSS */

#fontindex {
  font-style: italic;
}

#fontoneindex {
  font-style: italic;
}

.color1 {
  color: red;
}

.color2 {
  color: orange;
}

.color3 {
  color: yellow;
}

.color4 {
  color: green;
}

.color5 {
  color: blue;
}

.color6 {
  color: purple;
}

.color7 {
  color: indigo;
}

.color8 {
  color: pink;
}

.color9 {
  color: teal;
}

.color10 {
  color: turquoise;
}

.color11 {
  color: gray;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

/* resume CSS */

.textresume {
  text-decoration: underline;
  font-weight: bold;
}

.textoneresume {
  font-weight: bold;
  font-style: italic;
}

#fontresume {
  font-style: italic;
  font-weight: bold;
}

.fontoneresume {
  font-weight: bold;
}

#fonttworesume {
  font-style: italic;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

p, ul {
  font-family: 'Roboto Condensed', sans-serif;
}

/* aboutme CSS */

.relexample {
	position: relative;
	left: 20px;
	bottom: 10px;
}

.firstchar {
	color: gray;
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
	top: 4px;
}

#gamelist {
  position: relative;
  left: 20px;
  bottom: 8px;
}

#textaboutme {
  font-weight: bold;
  font-size: 2em;
  font-style: italic;
  text-decoration: underline;
}

.colorone {
  color: gold;
}

.colortwo {
  color: red;
}

#fontaboutme {
  font-style: italic;
  font-weight: bold;
}

.fontoneaboutme {
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
      
p {
  font-family: 'Noto Sans', sans-serif;
}  

ul {  
  font-family: 'Cabin', sans-serif;
}